<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RootPath" value="C:\Проверки"/>
    <add key="Years" value="2013;2014;2015;2016"/>
    <add key="Types" value="Мониторинг;ТЗ;ЦЗ"/>
    <add key="Stages" value="1. Подготовка;2. Проведение;3. Итоги;4. Реализация;5. Контроль"/>
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>